html,body{

    height: 100%;
    margin: 0rem;
   
    display: flex;
    flex-direction: column;

    font-family: Nunito,sans-serif;
    color: white;
}

a{
    color: white;
    text-decoration: none;

} 
.container{

    display: block;
    flex: 1;
    background-color: black;
    

}

.yes{
    display: flex;
}

.sidebar{
    display: flex;
    flex: 0.5;
    background-color: rgb(60, 4, 77);
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 60px;
    width: 400px;
    

    
}

.library{
    display: flex;
    background-color: rgb(15, 15, 15) ;
    padding:1rem 1.5rem ;
    border-radius:0.5rem ;
    overflow-y: auto;
    height:90vh ;
    padding-bottom: 6rem;
    width: 300px;
    margin-top: 60px;
}

.main-content{
   display: flex;
  flex: 1;
  padding: 1rem;
  background-color: gray;
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  border-radius: 0.5rem;
  padding-bottom: 6rem;

  margin-top: 80px;
  flex-wrap: wrap;
  padding-bottom: 6rem;
  overflow-y: auto;


}



/* .player{
    position: fixed;

    background-color:black;
    height: 80px;
    width: 100%;
    bottom: 0;
    left: 0;
} */

nav{
    font-family :'Ubuntu',sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 70px;
    background-color: rgb(0, 0, 0);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul li{
    padding: 30px;
}
.search{
    background-color: rgb(255, 255, 255);
    padding-left: 80%;
    padding-right: 20%;
    width: 250px;


}
.placeholder{
    color: white;
}
.brand img{
    width: 60px;
}

.brand{
    display:flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}


.album-flex{
    margin-bottom: 0.2rem; 
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    align-items: flex-start;


}

.album{
    margin-top: 1rem;

}

.album-cover{
    height: 3rem;
    width: 3rem;
    border-radius: 0.2rem;
}
.album-flex:hover{
    background-color:rgb(60, 4, 77);
    transition :all 0.3s;
}

.workout-image{

    background-image: url('https://th.bing.com/th/id/OIP.y0gpXsHmWrqPYKIpfKZJIgAAAA?pid=ImgDet&rs=1" class="album-cover');
    background-size: cover;
    height: 90px;
    width: 90px;
}

.link-flex{
    display: flex;

}

.col-flex{
    margin-left: 20px;
}

.album-name{

    font-size: 1.3rem;
}



.navbar-main{
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem ;
    align-items: center;
    background-color:rgb(60, 4, 77) ;
    z-index: 1000;
}
.cards-container{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.card{
    width:100px;
    background-color: gray;
    padding: 0.75rem;
    border-radius: 0.5rem;
    height: fit-content;
    margin: 0rem 0.75rem;
    overflow-x: auto;
        
}

.card-img{
    width: 100%;
    border-radius: 0.35rem;

}
.card-name{
    margin: 0.25rem 0;

}
.card-description{
    margin: 0;
    font-size: 0.8rem;
    opacity: 0.5;
}